<pool type='dir'>
  <name>devbox</name>
  <capacity unit='bytes'>64393052160</capacity>
  <source>
  </source>
  <target>
    <path>/data/images</path>
    <permissions>
      <mode>0711</mode>
      <owner>0</owner>
      <group>0</group>
    </permissions>
  </target>
</pool>